{% extends "layout.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for image, thumbnail in image_data %}
    <div class="col-md-4 col-sm-6 col-12 mb-3">
      <a href="{{ url_for('display', image=image) }}">
        <img src="{{ url_for('static', filename='images/'+thumbnail) }}" class="img-fluid rounded" alt="{{ image }}">
      </a>
    </div>
    {% endfor %}
  </div>

  <div class="text-center mt-3">
    <form method="GET" action="{{ url_for('close') }}">
      <button type="submit" class="btn btn-primary">Close current image</button>
    </form>
  </div>
</div>
{%endblock content%}

