.bg-icon{
    font-size: 80px;
}
.btn-circle.btn-xl {
            text-align: center;
        }
.delete-folder {
       margin-left: 10px;
}
.inline-elmt{
    display: inline-block;
}
.logo{
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.btn-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
